<div class="container mt-2">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
    <a class="navbar-brand font-weight-bold" href="#">GROCERY DELIVERY APPLICATION</a>
<button class="btn btn-secondary font-weight-bold" routerLink="/">LOGOUT</button>
  </nav>
</div>

<div class="container-fluid mt-2">
<carousel>
  <slide>
    <img src="../../assets/essentials.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/fruits.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/petcare.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/summercoolers.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
</div>

<div class="container mt-2">
  <nav class="navbar navbar-expand-lg navbar-white bg-success d-flex justify-content-around">
<button class="btn btn-primary font-weight-bold" routerLink="/products">Rice & Rice Products</button>
<button class="btn btn-danger font-weight-bold" routerLink="/pulses">Dals & Pulses</button>
<button class="btn btn-warning text-white font-weight-bold" routerLink="/oils">Cooking Oils</button>
  </nav>
</div>

